name: "Android Build & Release"

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

# Necessary to allow the action to create a Release
permissions:
  contents: write

jobs:
  build:
    name: Build & Release Android
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.x'
          channel: 'stable'
          cache: true

      - name: Install Dependencies
        run: flutter pub get

      - name: Run Tests
        run: flutter test

      - name: Build APKs
        run: flutter build apk --release --split-per-abi

      - name: Build App Bundle (AAB)
        run: flutter build appbundle --release

      - name: Push to Releases
        uses: ncipollo/release-action@v1
        with:
          artifacts: "build/app/outputs/flutter-apk/*.apk,build/app/outputs/bundle/release/*.aab"
          tag: v1.0.${{ github.run_number }}
          token: ${{ secrets.TOKEN }} # Use the default GitHub token
          allowUpdates: true # Useful if you re-run the same build number
